.contact {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .contact {
    grid-template-columns: 1fr 1fr;
  }
}
