.hobbies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.hobbies__image {
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.hobbies__image--text {
  position: absolute;
  z-index: 1;
  font-size: 1.2rem;
  color: white;
  text-shadow: 2px 1px 3px var(--color-1);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hobbies__image img {
  object-fit: cover;
}
