@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --max-width: 1240px;
    --light-color-1: #76a0c2;
    --color-1: #092c6e;
    --color-2: #4e6f9b;
    --color-3: rgba(4, 23, 46, 0.5);
    --color-4: #cfd7e4;
    --color-5: #05172b;
    --error: #e73636;
    --bg-dark: rgba(2, 8, 23, 1);
    --bg-color: rgba(227, 232, 240, 0.8);
    --bg-color-effect: #050d25;
    --bg-color-light-effect: #f3f7ff;
    --linear-gradient-dark: "linear-gradient(0deg,_#020817_19%,_#212a41_50%,_#020817_88%)";
    --border-card: #3e5777;
    --bg-icon: #88b1e6;
    --text-color: white;
    --bg-color-2: #10407e;
    --bg-color-3: #ccd6e4;
    --green-color: #50c44c;
    --blue-color-1: #1e4bdf;
    --blue-color-2: #1f22a0;
    --blue-color-3: #3c4363;
    --blue-color-4: #475375;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --bg-icon: #1e3096;
    --text-color: white;
    --bg-color: rgba(7, 22, 44, 0.8);
    --color-3: rgba(34, 110, 180, 0.5);
    --color-4: #051629;
    --color-5: #f2f4f7;
    --bg-color-2: #2e5db4;
    --bg-color-3: #071127;
    --border-card: #dce6f3;
    --blue-color-1: #2347e6;
    --blue-color-2: #091a64;
    --blue-color-3: #121b33;
    --blue-color-4: #223058;
  }
}
* {
  scrollbar-color: var(--light-color-1) var(--color-1);
  scrollbar-width: thin;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
