.menu {
  position: relative;
  display: flex;
  align-items: center;
}

.menu__trigger {
  padding: 6px;
  border: 2px dotted var(--color-2);
  border-radius: 5px;
}

.menu__items {
  display: none;
  position: absolute;
  top: 110%;
  z-index: 10;
  border: 1px dashed var(--color-2);
  border-radius: 3px;
}

.menu__items--show {
  display: block;
}

.item {
  padding: 4px 12px;
  cursor: default;
  transition: background-color 200ms ease-in-out;
}

.item:hover {
  background-color: var(--color-4);
}
