.navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.links {
  display: none;
  gap: 20px;
}

.sidebar-button {
  display: flex;
}

.link-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.link-container:hover .link__selected {
  animation: animate-link 500ms ease-in-out forwards;
}

.link-container:hover .link__bar {
  animation: underline-bar 500ms ease-in-out forwards;
}

.link {
  font-size: 1.2rem;
  transition: all 500ms;
  color: var(--light-color-1);
}

.link__bar {
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--color-5);
  transition: all 500ms ease-in-out;
}

.link__selected {
  position: absolute;
  font-size: 1.2rem;
  color: var(--color-5);
  opacity: 0;
}

.link__selected-animated {
  animation: animate-link 500ms ease-in-out forwards;
}

.link__bar-animated {
  animation: underline-bar 500ms ease-in-out forwards;
}

@keyframes animate-link {
  0% {
    opacity: 0;
    scale: 1.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes underline-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .links {
    display: flex;
  }
  .sidebar-button {
    display: none;
  }
}
